* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* container */

.form-container {
    width: 500px;
    height: 600px;
    border-radius: 15px;
    background: #e0e0e0;
    box-shadow:  18px 18px 36px #bebebe,
    -18px -18px 36px #ffffff;
    margin: 1rem auto;
    padding: 30px;
}

/* logo */

.form-logo {
    background: url(./image/logo-image.jpg) no-repeat center/cover blueviolet;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    background-blend-mode: multiply;
}

/* logo name */

.logo-name {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    text-transform: uppercase;

}

/* fields container */

.fields {
    margin-top: 35px;
    font-size: 18px;
    position: relative;
}

/* inputs */

.fields input {
    width: 100%;
    padding: 15px;
    outline: none;
    border: none;
    margin-bottom: 30px;
    border-radius: 13px;
    background: #e0e0e0;
    box-shadow: inset 5px 5px 19px #bebebe,
    inset -5px -5px 19px #ffffff;
    font-size: 13px;
    text-transform: capitalize;
    text-align: center;
    color: blueviolet;

}

/* user name icon */

.svg-icon1 {
    height: 20px;
    position: absolute;
    left: 20px;
    top: 10px;
}

/* password icon */

.svg-icon2 {
    height: 20px;
    position: absolute;
    left: 20px;
    top: 86px;
}

/* login button */

.login-button {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 13px;
    margin-top: 15px;
    background: linear-gradient(145deg, #6d6a70, #6d6a70);
    box-shadow:  20px 20px 40px #bebebe,
    -20px -20px 40px #ffffff;
    font-size: 15px;
    text-transform: capitalize;
    color: #fff;
    transition: .5s;    
}

/* login btn hover effect */

.login-button:hover {
    background: blueviolet;
    cursor: pointer;
}

/* footer */

.form-footer {
    text-align: center;
    margin-top: 13px;

}

/* footer links */

.form-footer a {
    text-decoration: none;
    color: #8d8d8d;
    text-transform: capitalize;
}